<h1>Listing dois</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dois.each do |doi| %>
      <tr>
        <td><%= doi.name %></td>
        <td class="alt"><%= doi.description %></td>
        <td><%= link_to 'Show', doi %></td>
        <td class="alt"><%= link_to 'Edit', edit_doi_path(doi) %></td>
        <td><%= link_to 'Destroy', doi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doi', new_doi_path %>
<%= link_to 'Back','/profile#index' %>
